/* ----------------------------------------------
    Navbar 
------------------------------------------------- */
.navbar_icon {
  font-size: 28px !important;
  transition: all 0.3s ease !important;
}

.navbar_icon:hover {
  background-color: white !important;
}

.navbar_link {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-left: 5px !important;
  transition: all 0.3s ease !important;
}

.navbar_link:hover {
  color: black !important;
  background-color: white !important;
}

#basic-nav-dropdown {
  transition: all 0.3s ease !important;
}
#basic-nav-dropdown:hover {
  color: black !important;
}

/* ----------------------------------------------
    Navbar Dropdown Menu
------------------------------------------------- */
.dropdown-menu.show {
  max-height: 75vh !important;
  overflow-y: auto !important;
}

/* ----------------------------------------------
    Search Bar
------------------------------------------------- */
.search_container {
  background-color: #10207a !important;
}

.search_input_group {
  background-color: #51a6f5 !important;
  border: solid 3px #51a6f5 !important;
}
